/*
     elaborado: Leonel Anthony Herrera Orosco
     fecha: Diciembre, 2022
     referencia: https://www.youtube.com/watch?v=kJv5sxaGCMg&ab_channel=CarlosAlbertoTombePosso
*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
